PROJECT_NAME=spring-boot-microservices

# workspace
USERNAME=vscode
USER_GROUP_NAME=workspace
USER_UID=1000
USER_GID=1000

# author api mysql
AUTHOR_API_DB_ROOT_PASSWORD=thisIsReallyStrongPassword123
AUTHOR_API_DB_DATABASE=dev
AUTHOR_API_DB_USER=mysql
AUTHOR_API_DB_PASSWORD=thisIsReallyStrongPassword123

# book api mysql
BOOK_API_DB_ROOT_PASSWORD=thisIsReallyStrongPassword123
BOOK_API_DB_DATABASE=dev
BOOK_API_DB_USER=mysql
BOOK_API_DB_PASSWORD=thisIsReallyStrongPassword123

# RabbitMQ
RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
